<html>
<head>
  <title>Success</title>
  <style type="text/css">
    #wrapper {
      width:: 600px;
      margin: 10px;
      background-color: lightblue;
      text-align: center;
    }
    #notice {
      height: 100px;
    }
    #success_style {
      background-color: green;
      color: black;
      text-align: center;
      display: inline-block;
      padding: 20px;
    }

    #display_div {
      width:400px;
      height: 200px;
      border: solid 1px black;
      text-align: center;
      display: inline-block;
      overflow: scroll;
    }
  </style>
</head>
<body>
  <div id="wrapper">
    <div id="notice">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="success_style">
          {% for message in messages %}
            <p>{{message}}</p>
          {% endfor %}
            </div>
        {% endif %}
      {% endwith %}
    </div>
    <div id="display_div">
      <h2>Email Addresses Entered:</h2>
      {% for email in all_emails: %}
         <p>ID: {{ email['id'] }} </p>
         <span> Email: {{ email['email'] }}</span>
         <span>{{ email['created_at'] }}</span></p>
         <hr>
      {% endfor %}
    </div>
  </div>

</body>
</html>
